* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #040506;
  color: #f5f7fa;
  color-scheme: dark;
}

.App {
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
